body {
    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    color: rgb(255, 255, 255)000;
    text-align: center;
    padding: 10;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header .highlight {
    color: #e74c3c;
}

header p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #27ae60;
}

section {
    padding: 50px;
    text-align: center;
}

section h2 {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    color:  #555555;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

footer {
    text-align: center;
    padding: 70px;
}
